header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 20px 20px;
    font-family: 'DM Sans', sans-serif;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo-left img {
    height: 80px;
    width: 80px;
    object-fit: contain;
}

.title {
    display: flex;
    align-items: center;
    margin-left: 25px; /* Le agregué esta linea para hacer que el titulo tenga más separación de la imagen*/
}

.title h1 {
    font-size: clamp(0.5rem, 5vw, 1.5rem);
    margin: 0;
    color: black;
    line-height: 1.2;
    text-align: start;
    font-weight: 500; /* Añade peso para mejor legibilidad */
}

.menu-buttons {
    display: flex;
    gap: 30px;
    margin-right: 50px;
}

.menu-buttons button {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 50px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
}

.menu-buttons button:hover {
    background-color: rgb(58, 90, 64);
    color: white;
}

/* Estilos para el dropdown */
.dropdown {
    position: relative;
    display: inline-block;
    align-content: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 20px;
    overflow: hidden;
    top: 100%; /* Posiciona justo debajo del botón */
    margin-top: 5px; /* Añade espacio entre el botón y el dropdown */
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: all 0.3s ease;
    text-align: center;
}

.dropdown-content a:hover {
    background-color: rgb(106, 153, 78);
    color: white;
}

.dropdown-content #cerrar_sesion:hover{
    background-color: rgb(188, 71, 73);
    color: white;
}

/* Mostrar el dropdown al hacer hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Estilo para el botón del dropdown cuando está activo */
.dropdown:hover .dropdown-btn {
    background-color: rgb(58, 90, 64);
    color: white;
    border-radius: 20px;
}